<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489963339538-ke86hvdurbbkg8mi5qd8vlqgdo3sb0gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489963339538-ke86hvdurbbkg8mi5qd8vlqgdo3sb0gn</string>
	<key>API_KEY</key>
	<string>AIzaSyCl5q8z9L6w808T3iy6dJK9gba32fgNiyY</string>
	<key>GCM_SENDER_ID</key>
	<string>489963339538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.pastre.pump</string>
	<key>PROJECT_ID</key>
	<string>pump-1669d</string>
	<key>STORAGE_BUCKET</key>
	<string>pump-1669d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489963339538:ios:e2c7bf2e7d7205dc</string>
	<key>DATABASE_URL</key>
	<string>https://pump-1669d.firebaseio.com</string>
</dict>
</plist>